* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cmp-container-detail {
    /* position:initial; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* height:40em; */
    width: 80em;
    margin-top: -80px;
    /* margin: auto; */
    background-image: url(../Images/black_bk6.jpg);
    background-size: cover;
}

.cmp-detail {
    width: 70em;
    height: 35em;
    display: flex;
    margin: auto;
    justify-content: space-between
}

h2 {
    color: #fff;
}

.cmp-detail-left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50em;
    overflow: hidden;
}

.cmp-detail-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50em;
}

.cmp-detail_img {
    max-width: 400px;
    max-height: 400px;
    transition: all .5s ease-in-out;
    filter: drop-shadow(7px 5px 5px #ecb51ee4);
}

.cmp-columns {
    display: grid; 
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    
    grid-template-areas: 
     'label0 label1';
    
    gap: 100px;
    height: 100%;
}

#left {
    grid-area: label0;
    
 }
 #right {
    grid-area: label1;
 } 


.cmp-detail_img:hover {
    transition: all .5s ease-in-out;
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}

.range {
    accent-color: deeppink;
}