* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cmp-nav {
    align-items: flex-start;
    display: flex;
    /* justify-content: space-between; */
    justify-content: space-evenly;
    /* filter: drop-shadow(7px 5px 5px #ecb51ee4  );  */
}

.pokemon-logo{
    width: 550px;
    height: 150px;    
    filter: drop-shadow(7px 5px 5px #ecb51ee4); 
}
.grow1 {
    flex-grow: 1;
    text-align: center;
}

.shrink0 {
    align-content: center;
    flex-shrink: 0;
}

.botones {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.navbar-nav {
    display: flex;
    color: white;
    gap: 5em;
    list-style: none;
    flex-wrap: wrap;
    flex-direction: column;
}

.navbar-nav li {
    color: rgba(255, 255, 255, .781);
    text-decoration: none;
    font-size: 19px;
}

.navbar-nav li {
    cursor: pointer;
    display: inline-block;
}

.container-cards {
    height: 100%;
    display: grid;
    grid:
    "sidebar body" 7fr / 1fr 8fr;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.body {
    grid-area: body;
}

#leftcolumn {
    width: 12em;
    float: left;
    /* margin-left: -98%; */
    margin-top: 8em;
    /* height: 5vh; */
    text-decoration: none;
    
}

/* #wrapper {
    width: 100vw;
    margin: 0 auto;
    color: #fff;
} */

#header {
    float: left;
    height: auto;
    width: 100%;
}

/************************************************************************************************/
/*                      ESTILOS DEL TITULO DE POKEMON                                           */        
/************************************************************************************************/
@import url(https://fonts.googleapis.com/css?family=Mr+Dafoe);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:900);

.title {
    position: absolute;
    margin: 0px;
    font-family: 'Mr Dafoe', cursive;
    font-size: 100px;
    color: #1e00fa ;
    margin-left: 300px;
    margin-top: -20px;
    -webkit-text-stroke: 1px #ecb51ee4;
    /* -webkit-filter: drop-shadow(2px 2px 20px #ec731e); */
    z-index: 20;
}

.title::before {
    content: attr(data-text);
    position: absolute;
    z-index: -1;
    color: #ff005b;
    filter: blur(5px)
}


/************************************************************************************************/
/*                      ESTILOS DE LOS LINK                                                     */        
/************************************************************************************************/

.nav-link{
    text-decoration: none;
    background-color: transparent;
	color: #fff;
	border: none;
	cursor: pointer;
	border-radius: 7px;
	padding: 0.5rem;
	box-shadow: 3px 3px 6px 0px #ecb51ee4;
    font-size: auto;
}
/* 
.btn-all-poke {
    background-color: transparent;
	color: #fff;
	border: none;
	cursor: pointer;
	border-radius: 7px;
	padding: 0.5rem;
	box-shadow: 3px 3px 6px 0px #ecb51ee4;
} */