.cont-Create{
    background-color: cornflowerblue;
    color: #fff;
    width: 360px;
    height: 360px;
    /* height: 90vh; */
    
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    /* align-items: center; */
}

