:root {
    --white: #afafaf;
    --red: #e31b23;
    --borderFormEls: hsla(60, 3%, 19%, 0.659);
    --bgFormEls: hsl(0, 0%, 14%);
    --shadowPage: #ecb51ee4;
}

button {
    cursor: pointer;
}

ul {
    list-style: none;
}

body {
    color: var(--white);
}

.container-form {
    max-width: 800px;
    margin: 20px auto;
    padding: 10rem 1rem 0 1rem;
}

.my-form {
    box-shadow: 0px 0px 20px 9px var(--shadowPage);
    border-radius: 1rem;
    margin-top: 2rem;
    padding: 0.5rem 0rem 0.5rem 0rem;
}

.title-form{
    filter: drop-shadow(5px 3px 3px var(--shadowPage)); 
}
/* FORM ELEMENTS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.my-form h1 {
    margin-bottom: 1.5rem;
    padding-top: 0.5rem;
}

.my-form li,
.my-form .grid>*:not(:last-child) {
    margin-bottom: 1rem;
}


.my-form input,
.my-form button {
    border-radius: 0.5rem;
    width: 90%;
    line-height: 1.5;
    margin: auto;
    padding: 15px 10px;
    border: 1px solid var(--borderFormEls);
    color: var(--white);
    background: var(--bgFormEls);
    transition: background-color 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25),
        transform 0.3s cubic-bezier(0.57, 0.21, 0.69, 1.25);
}


.my-form ::placeholder {
    color: inherit;
}

.my-form select:focus,
.my-form input:focus {
    transform: scale(1.02);
}


/* FORM BTNS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.my-form .required-msg {
    display: none;
    background: url(https://api.popsy.co/rails/active_storage/blobs/proxy/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBBakFGIiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--86dee87c3ef8d917fd96c9c5dc679763f965c0b6/Asterisco.png) no-repeat center left / 20px 20px;
    padding-left: 20px;
}

.my-form .btn-grid {
    position: relative;
    overflow: hidden;
    transition: filter 0.2s;
}

.my-form button {
    font-weight: bold;
}

.my-form button>* {
    display: inline-block;
    width: 100%;
    transition: transform 0.4s ease-in-out;
}

.my-form button:enabled:hover .front,
.my-form button:focus .front {
    transform: translateX(110%);
}


/* MQ
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (min-width: 600px) {
    .my-form .grid {
        display: grid;
        grid-gap: 1.5rem;
    }

    .my-form .grid-2 {
        grid-template-columns: 1fr 1fr;
    }

    .my-form .grid-3 {
        grid-template-columns: auto auto auto;
        align-items: center;
        margin: 0rem 6rem 0rem 6rem;
    }

    .my-form .grid>*:not(:last-child) {
        margin-bottom: 0;
    }

    .my-form .required-msg {
        display: block;
    }
}


/**************************************************************
/
/        VALIDACION DEL FORMULARIO
/
/**************************************************************/

.cmp-form-valid_name,
.cmp-form-valid_number_left {
    color: var(--red);
    font-weight: bold;
    font-size: 0.6rem;
    position: absolute;
    right: 28rem;   
}

.cmp-form-valid_number_right {
    color: var(--red);
    font-weight: bold;
    font-size: 0.6rem;
    position: absolute;
    right: 2rem;
}


/**************************************************************
/
/        CHECKBOX
/
/**************************************************************/

.type-poke-list {
    width: 30%;
    margin: 0 auto;
    list-style: none;
    padding: 0;
    width: fit-content;
    max-width: 80%;
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}


@media screen and (max-width: 600px) {
    .type-poke-list {
        width: 90%;
    }
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.container {
    text-align: -webkit-center;
    width: 4rem;
    display: flow-root;
    flex: auto;
    position: relative;
    cursor: pointer;
    font-size: 0.8rem;
    -webkit-user-select: none;
    user-select: none;
}

/* Create a custom checkbox */
.checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 1.3em;
    width: 1.3em;
    background: #606062;
    border-radius: 5px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.30), 0px 1px 1px rgba(0, 5);
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
    background-color: var(--shadowPage);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border: solid rgb(11, 11, 11);
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
}